/* Changes link color */
a:visited{
    color: white;
}
/* Upper Section */
body{
    margin: auto;
    height: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.wrapper{
    background-color: #2ACDBF;
    text-align: center;
}

#nav{
    float:right;
    padding-right: 40px;
    display: flex;
    width: 500px;
    justify-content: flex-start;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
#nav > li{
    padding: 15px;
}
#nav > li:last-child{
    font-size: 30px;
}
#nav > li:first-child{
    font-size: 30px;
}
h1{
    color:white;
    margin-top: 10%;
    font-size: 4rem;
}

/* Bottom Section */
main{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.bigbox{
    width: 300px;
}
#blue{

}
img{
    height: 50px;
    width: 50px;
}