/* Changes link color */
a:visited{
    color: white;
}
a:link{
    color: white;
}
/* Upper Section */
body{
    margin: auto;
    height: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #000000;
}
.wrapper{
    background-color: #2ACDBF;
    text-align: center;
}

img{
    height: 50px;
    width: 50px;
}
#nav{
    float:right;
    padding-right: 40px;
    display: flex;
    height: 50px;
    /* width: 500px; */
    justify-content: flex-start;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 15px;
}
#nav > li{
    padding: 15px;
    margin-bottom: 0px;
}
#nav > li:last-child{
    font-size: 30px;
}

#nav > li:first-child{/* Home Button on sub-pages */
    font-size: 30px;
}
h1{
    color:white;
    margin-top: 12.5%;
    font-size: 3rem;
    margin-bottom: none;
    text-align: center;
}

/* Bottom Section */
main{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
}

.bigbox{
    width: 300px;
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
}

.blue{
    margin-top: 75px;
    margin-bottom: 25px;
    width: 300px;
    height: 50px;
    background-color: #34A8DD;
}
.orange{
    margin-top: 75px;
    margin-bottom: 25px;
    width: 300px;
    height: 50px;
    background-color: #F46731;
}
.teal{
    margin-top: 75px;
    margin-bottom: 25px;
    width: 300px;
    height: 50px;
    background-color: #2ACDBF;
}
.bigbox > a{
    font-size: 2rem;  
}
.bigbox > article{
    font-size: 1.25rem;  
    margin-top: 25px;
}
/* From About Me */
.iframe-container{ 
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: .5rem;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

/* From Bacon sites */
.Bacon1{
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
    padding: 5%;
}
#subpghdr1{
    background:  #34A8DD;
}
#subpghdr2{
    background:  #F46731;
}
#subpghdr3{
    background:  #2ACDBF;
}



/* Tablet View */
@media (max-width: 576px) {
.wrapper{
    background: #34A8DD;
}
main{
    background: whitesmoke;
}
body{
    background:whitesmoke;
}
.bigbox{
    color: black;
}
a:visited{
    color: black;
}
a:link{
    color: black;
}
.Bacon1{
    color:black;
    background-color: whitesmoke;
}


}


